{% extends "layout2.html" %}

{% block content %}
<div >
<center>
<H1>Welcome to Library Management System</H1>
<img src="../static/library_image2.jpg" width="800" height="800" alt="Smiley face"/>
</center>
 </div>
{% endblock %}
