﻿{% extends "home.html" %}

{% block content %}
<center>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Proceed</button>
  </form>
</center>

{% endblock %}